# Importing dependencies

In [25]:
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import accuracy_score

# Reading the data

In [26]:
heart_data = pd.read_csv('heart_disease_data.csv')
heart_data.head()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,63,1,3,145,233,1,0,150,0,2.3,0,0,1,1
1,37,1,2,130,250,0,1,187,0,3.5,0,0,2,1
2,41,0,1,130,204,0,0,172,0,1.4,2,0,2,1
3,56,1,1,120,236,0,1,178,0,0.8,2,0,2,1
4,57,0,0,120,354,0,1,163,1,0.6,2,0,2,1

In [27]:
heart_data.shape

(303, 14)

# Check for the presence of null values in the dataset

In [28]:
heart_data.isnull().sum()

age         0
sex         0
cp          0
trestbps    0
chol        0
fbs         0
restecg     0
thalach     0
exang       0
oldpeak     0
slope       0
ca          0
thal        0
target      0
dtype: int64

In [29]:
heart_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 303 entries, 0 to 302
Data columns (total 14 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   age       303 non-null    int64
 1   sex       303 non-null    int64
 2   cp        303 non-null    int64
 3   trestbps  303 non-null    int64
 4   chol      303 non-null    int64
 5   fbs       303 non-null    int64
 6   restecg   303 non-null    int64
 7   thalach   303 non-null    int64
 8   exang     303 non-null    int64
 9   oldpeak   303 non-null    float64
 10  slope     303 non-null    int64
 11  ca        303 non-null    int64
 12  thal      303 non-null    int64
 13  target    303 non-null    int64
dtypes: float64(1), int64(13)
memory usage: 33.3 KB

In [30]:
heart_data.describe()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
count,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000
mean,54.366337,0.683168,0.966997,131.623762,246.264026,0.148515,0.528053,149.646865,0.326733,1.039604,1.399340,0.729373,2.313531,0.544554
std,9.082101,0.466011,1.032052,17.538143,51.830751,0.356198,0.525860,22.905161,0.469794,1.161075,0.616226,1.022606,0.612277,0.498835
min,29.000000,0.000000,0.000000,94.000000,126.000000,0.000000,0.000000,71.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,47.500000,0.000000,0.000000,120.000000,211.000000,0.000000,0.000000,133.500000,0.000000,0.000000,1.000000,0.000000,2.000000,0.000000
50%,55.000000,1.000000,1.000000,130.000000,240.000000,0.000000,1.000000,153.000000,0.000000,0.800000,1.000000,0.000000,2.000000,1.000000
75%,61.000000,1.000000,2.000000,140.000000,274.500000,0.000000,1.000000,166.000000,1.000000,1.600000,2.000000,1.000000,3.000000,1.000000
max,77.000000,1.000000,3.000000,200.000000,564.000000,1.000000,2.000000,202.000000,1.000000,6.200000,2.000000,4.000000,3.000000,1.000000

In [31]:
heart_data.groupby(['target']).mean()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal
target,,,,,,,,,,,,,
0,56.601449,0.826087,0.478261,134.398551,251.086957,0.159420,0.449275,139.101449,0.550725,1.585507,1.166667,1.166667,2.543478
1,52.496970,0.563636,1.375758,129.303030,242.230303,0.139394,0.593939,158.466667,0.139394,0.583030,1.593939,0.363636,2.121212

In [32]:
heart_data.head()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,63,1,3,145,233,1,0,150,0,2.3,0,0,1,1
1,37,1,2,130,250,0,1,187,0,3.5,0,0,2,1
2,41,0,1,130,204,0,0,172,0,1.4,2,0,2,1
3,56,1,1,120,236,0,1,178,0,0.8,2,0,2,1
4,57,0,0,120,354,0,1,163,1,0.6,2,0,2,1

In [33]:
heart_data['target'].value_counts()

1    165
0    138
Name: target, dtype: int64

# splitting the dataset into features and targets

In [34]:
X = heart_data.drop(columns='target', axis = 1)
y = heart_data['target']

In [35]:
X.head()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal
0,63,1,3,145,233,1,0,150,0,2.3,0,0,1
1,37,1,2,130,250,0,1,187,0,3.5,0,0,2
2,41,0,1,130,204,0,0,172,0,1.4,2,0,2
3,56,1,1,120,236,0,1,178,0,0.8,2,0,2
4,57,0,0,120,354,0,1,163,1,0.6,2,0,2

In [36]:
y.head()

0    1
1    1
2    1
3    1
4    1
Name: target, dtype: int64

# splitting the dataset into train, test dataset

In [37]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, stratify = y, random_state=2) # 70% training and 30% test

In [38]:
print (X_train.shape, X_test.shape)

(212, 13) (91, 13)

# model training

# Logistic Regression

In [39]:
lr = LogisticRegression(solver = 'lbfgs', max_iter = 1000)

In [40]:
lr.fit(X_train, y_train)

LogisticRegression(max_iter=1000)

# Evaluating the model

In [53]:
def evaluateModel(model, x, Y):
    prediction_value = model.predict(x)
    data_accuracy = accuracy_score(prediction_value, Y)
    print('Accuracy of the model: ', data_accuracy)

In [54]:
# evaluating model on the training data

evaluateModel(lr, X_train, y_train)

# X_train_prediction = lr.predict(X_train)
# training_data_accuracy = accuracy_score(X_train_prediction, y_train)
# print('Accuracy on Training data : ', training_data_accuracy)

Accuracy of the model:  0.8490566037735849

In [55]:
# on the test data

evaluateModel(lr, X_test, y_test)

# X_test_prediction = lr.predict(X_test)
# test_data_accuracy = accuracy_score(X_test_prediction, y_test)
# print('Accuracy on Test data : ', test_data_accuracy)

Accuracy of the model:  0.8461538461538461

# using Random Forest

In [56]:
rf = RandomForestClassifier(n_estimators = 50)

In [57]:
rf.fit(X_train, y_train)

RandomForestClassifier(n_estimators=50)

# Model Evaluation

In [58]:
# On training data

evaluateModel(rf, X_train, y_train)
# X_train_prediction = rf.predict(X_train)
# training_data_accuracy = accuracy_score(X_train_prediction, y_train)
# print('Accuracy on Training data : ', training_data_accuracy)

Accuracy of the model:  1.0

In [59]:
# on test data
evaluateModel(rf, X_test, y_test)
# X_test_prediction = rf.predict(X_test)
# test_data_accuracy = accuracy_score(X_test_prediction, y_test)
# print('Accuracy on Test data : ', test_data_accuracy)

Accuracy of the model:  0.8351648351648352